.project-banner {
	// .project-banner__inner
	&__inner {
		position: relative;
		width: 100%;
		height: 108rem;
	}
	// .project-banner__btn
	&__btn {
		color: $white;

		span {
			box-shadow: inset 0 0 0 0.3rem $white;
			&::after {
				background: $white;
			}
		}
		position: absolute;
		bottom: 7.8rem;
		left: 10rem;
		z-index: 1;
	}
	// .project-banner__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;

		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;

		width: 96rem;
		height: calc(100% - 2px);
		padding: 8rem;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(2.4rem);

		color: $white;
	}
	// .project-banner__content-main
	&__content-main {
		flex: 1;
		margin-top: 24.3rem;
	}
	// .project-banner__title
	&__title {
		margin-bottom: 4rem;
	}
	// .project-banner__description
	&__description {
		width: 63.6rem;
		text-transform: uppercase;
	}
	// .project-banner__content-footer
	&__content-footer {
		text-transform: uppercase;
	}
	// .project-banner__back
	&__back {
		width: 100%;
		height: 100%;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			background: rgba(#0b0b0b, 0.4);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.project-content {
	// .project-content__inner
	&__inner {
		display: grid;
		grid-template-columns: repeat(4, 41.5rem);
		gap: 2rem;
	}
	// .project-content__item
	&__item {
		display: block;
		cursor: pointer;
		width: 85rem;
		height: 85rem;
		grid-column: span 2;
		grid-row: span 2;

		position: relative;
		overflow: hidden;
		will-change: transform;
		&:hover {
			.project-content__item-btn {
				opacity: 1;
				transition: opacity 0.3s linear;
			}
		}
		&.small {
			width: 41.5rem;
			height: 41.5rem;

			&--bl {
				grid-row: 2 / 3;
				grid-column: 3 / 4;
			}

			&--tr {
				grid-row: 4 / 5;
				grid-column: 2 / 3;
			}

			&--bottom {
				grid-row: 5 / 6;
			}
		}

		img {
			will-change: object-position;
			position: relative;
			z-index: 2;
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .project-content__item-btn
	&__item-content {
		cursor: pointer;

		position: relative;
		width: 100%;
		height: 100%;
	}
	// .project-content__item-btn
	&__item-btn {
		will-change: backdrop-filter;
		opacity: 0;
		transition: opacity 0.3s linear;
		position: absolute;
		right: 4rem;
		bottom: 4rem;
		z-index: 5;

		width: 6rem;
		height: 6rem;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(0.48rem);

		svg {
			width: 2.4rem;
			height: 2.4rem;
		}
	}
}
.project-video {
	// .project-video__inner
	&__inner {
		width: 100%;
		height: 108rem;
		position: relative;
	}
	// .project-video__content
	&__content {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;

		&::after {
			content: "";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .project-video__button
	&__button {
		cursor: pointer;
		position: absolute;
		left: 10rem;
		bottom: 10rem;
		z-index: 2;

		width: 14.3rem;
		height: 16.4rem;
	}
	// .project-video__button-play
	&__button-play {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		width: 14.3rem;
		height: 16.4rem;

		&.active {
			display: block;
		}
	}
	// .project-video__button-pause
	&__button-pause {
		display: none;
		width: 12.8rem;
		height: 16.4rem;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;

		&.active {
			display: block;
		}
	}
}

@media (max-width: 48em) {
	.project-banner {
		// .project-banner__inner
		&__inner {
			height: 142.4rem;
		}
		// .project-banner__btn
		&__btn.btn {
			display: none;
		}
		// .project-banner__content
		&__content {
			right: unset;
			top: unset;
			left: 0;
			bottom: 0;

			width: 100%;
			height: auto;
			padding: 6.4rem 3.2rem;
		}
		// .project-banner__content-main
		&__content-main {
			flex: 0;
			margin-top: 0;
		}
		// .project-banner__title
		&__title.h1 {
			margin-bottom: 6.4rem;
			font-size: 6rem;
		}
		// .project-banner__description
		&__description.text-18 {
			width: 100%;
			font-size: 3rem;
			font-weight: 300;
		}
	}
	.project-content {
		// .project-content__inner
		&__inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 4rem;
		}
		// .project-content__item
		&__item {
			width: 100%;
			height: 68rem;
			&.small {
				width: 100%;
				height: 48rem;
			}
		}
		// .project-content__item-btn
		&__item-btn {
			display: none;
		}
	}
	.project-video {
		// .project-video__inner
		&__inner {
			height: 120rem;
		}
		// .project-video__button
		&__button {
			left: 3.2rem;
			bottom: 3.2rem;

			width: 17.4rem;
			height: 20rem;
		}
		// .project-video__button-play
		&__button-play {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			width: 17.4rem;
			height: 20rem;

			&.active {
				display: block;
			}
		}
		// .project-video__button-pause
		&__button-pause {
			display: none;
			width: 17.4rem;
			height: 20rem;

			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			&.active {
				display: block;
			}
		}
	}
}
