.services-banner {
	will-change: transform;
	// .services-banner__inner
	&__inner {
		&.desktop {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 9.8rem;
		}
		&.mobile {
			display: none;
		}
	}
	// .services-banner__list
	&__list {
		padding-top: 8.4rem;
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 6rem;

		li {
			position: relative;
			padding-left: 2.5rem;

			&.active {
				strong {
					color: $brown;
				}
			}
			strong {
				display: block;
				color: $black;
				text-transform: uppercase;
			}
			span {
				color: rgba(114, 114, 114, 0.3);
				text-transform: uppercase;

				position: absolute;
				top: -0.5rem;
				left: 0;
				z-index: 1;
			}
		}
	}
	// .services-banner__content
	&__content {
		display: flex;
		align-items: flex-start;
		gap: 10.2rem;
	}
	// .services-banner__info
	&__info {
		width: 55.1rem;
		padding-top: 7.2rem;
	}
	// .services-banner__title
	&__title {
		line-height: 100%;
		margin-bottom: 10rem;
	}
	// .services-banner__description
	&__description {
		text-transform: uppercase;
		margin-bottom: 7rem;
		width: 49.4rem;
	}
	// .services-banner__btn
	&__btn {
		color: $brown;

		span {
			box-shadow: inset 0 0 0 0.3rem $brown;
			&::after {
				background: $brown;
			}
		}
	}
	// .services-banner__cards
	&__cards {
		width: 63.2rem;
		height: 69.2rem;
		position: relative;
		overflow: hidden;
		&-img {
			will-change: transform;
			width: 100%;
			height: 100%;

			&:not(:first-child) {
				position: absolute;
				transition: 0.5s linear;
				top: 100%;
				left: 0;

				&.active {
					transition: 0.5s linear;
					top: 0;
				}
			}
		}
	}
}
.services-about {
	// .services-about__inner
	&__inner {
		display: flex;
		align-items: flex-start;
		gap: 33.9rem;
	}
	// .services-about__wrapper
	&__wrapper {
		width: 106.8rem;
	}
	// .services-about__text
	&__text {
		color: $black;
		text-transform: uppercase;
		margin-bottom: 6rem;
	}
	// .services-about__list
	&__list-point {
		color: $black;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;

		li {
			padding-left: 4.4rem;
			position: relative;

			&::before {
				content: "";
				display: block;
				width: 3.2rem;
				height: 0.1rem;
				border-radius: 0.1rem;
				background: $grayText;

				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;

				transform: translateY(-50%);
			}
		}
	}
	&__list-text {
		color: $black;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}
}
.services-cases {
	overflow: hidden;
	// .services-cases__inner
	&__inner {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	// .services-cases__subtitle
	&__subtitle {
		width: 14rem;
		will-change: transform;
	}
	// .services-cases__content
	&__content {
		width: 128.5rem;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}
	&__content-hidden {
		display: none;
		overflow: hidden;
		max-height: 0;
		transition: max-height 1s ease-in-out;
		flex-direction: column;
		gap: 2rem;

		&--mobile {
			display: none;
			overflow: hidden;
			max-height: 0;
			transition: max-height 1s ease-in-out;
			flex-direction: column;
			gap: 2rem;
		}
	}
	// .services-cases__content-left
	&__content-left {
		width: 63.25rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		will-change: transform;
	}
	// .services-cases__content-item
	&__content-item {
		width: 100%;
		height: 49rem;
		overflow: hidden;
		position: relative;
		will-change: transform;

		img {
			position: relative;
			z-index: 2;
			will-change: object-position;
			transition:
				transform 0.5s ease-in-out,
				opacity 0.5s linear;
		}
		video {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:hover {
			img {
				transition: transform 0.5s ease-in-out;
				transform: scale(1.1);
			}

			video ~ img {
				transition: opacity 0.5s linear;
				opacity: 0;
				transform: none;
			}
		}
	}
	// .services-cases__content-item--null
	&__content-item--null {
		height: 18rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	// .services-cases__content-item--btn
	&__content-item--btn {
		color: $brown;

		span {
			box-shadow: inset 0 0 0 0.3rem $brown;
			&::after {
				background: $brown;
			}
		}
	}
	// .services-cases__content-right
	&__content-right {
		width: 63.25rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 20rem;
		will-change: transform;
	}
}

@media (max-width: 48em) {
	.services-banner {
		&__container {
			padding: 0;
		}
		// .services-banner__inner
		&__inner {
			&.desktop {
				display: none;
			}
			&.mobile {
				display: flex;
				flex-direction: column;
				padding-top: 5rem;
				gap: 6.4rem;
			}
		}
		// .services-banner__list
		&__list {
			padding: 0 3.2rem;
			height: 10rem;
			flex: 0;
			overflow-x: scroll;
			height: 10rem;
			padding-top: 0;
			display: flex;
			flex-direction: row;
			gap: 4rem;

			li {
				position: relative;
				padding-left: 4rem;

				&.active {
					strong {
						color: $brown;
					}
				}

				strong {
					width: 60rem;
					text-wrap: nowrap;
					overflow-wrap: break-word;
					word-wrap: break-word;
					display: block;
					color: $black;
					text-transform: uppercase;
					line-height: 200%;
				}
				span {
					display: block;
					color: rgba(114, 114, 114, 0.3);
					text-transform: uppercase;

					position: absolute;
					top: -1rem;
					left: 0;
					z-index: 1;
				}
			}
		}
		// .services-banner__content
		&__content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 6.4rem;
			padding: 0 3.2rem;
		}
		// .services-banner__info
		&__info {
			order: 2;
			width: 100%;
			padding-top: 0;
		}
		// .services-banner__title
		&__title {
			line-height: 100%;
			margin-bottom: 0;
			padding: 0 3.2rem;
		}
		// .services-banner__descroption
		&__description.text-18 {
			font-size: 3rem;
			margin-bottom: 0;
			width: 100%;

			margin-bottom: 6.4rem;
		}
		// .services-banner__btn
		&__btn {
			span {
				box-shadow: inset 0 0 0 0.4rem $brown;
			}
		}
		// .services-banner__cards
		&__cards {
			width: 100%;
			height: 40rem;
			position: relative;
			overflow: hidden;
			img {
				will-change: unset;
				width: 100%;
				height: 100%;

				&:not(:first-child) {
					position: static;
				}
			}
		}
	}
	.services-about {
		// .services-about__inner
		&__inner {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 3.6rem;
		}
		// .services-about__wrapper
		&__wrapper {
			width: 100%;
		}
		// .services-about__text
		&__text.text-24 {
			font-size: 3rem;
		}
		// .services-about__list
		&__list-point {
			gap: 4rem;

			li.text-18 {
				font-size: 3rem;
				padding-left: 0;
				position: relative;

				&::before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					height: 0.2rem;
					border-radius: 0.2rem;

					position: static;
					transform: none;
				}
			}
		}

		&__list-text {
			gap: 4rem;

			li.text-18 {
				font-size: 3rem;
			}
		}
	}
	.services-cases {
		// .main-projects__inner
		&__inner {
			flex-direction: column;
			justify-content: flex-start;
		}
		// .main-projects__subtitle
		&__subtitle {
			width: 100%;
			margin-bottom: 6.4rem;
		}
		// .main-projects__content
		&__content {
			width: 100%;
			margin: 0;
			justify-content: space-between;
			flex-direction: column;
			gap: 4rem;
		}
		// .main-projects__content-wrapper
		&__content-left {
			width: 100%;
			gap: 4rem;
		}

		&__content-right {
			width: 100%;
			gap: 4rem;
			margin-top: 0;
		}
		// .main-projects__content-item
		&__content-item {
			height: 33.4rem;
		}
		// .main-projects__content-item--null
		&__content-item--null {
			height: auto;

			&.desktop {
				display: none;
			}
			&.mobile {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
				margin-top: 2.4rem;
			}
		}
		// .main-projects__content-item--btn
		&__content-item--btn {
			span {
				box-shadow: inset 0 0 0 0.4rem $brown;
			}
		}
		&__btn-wrapper {
			display: none;
		}
	}
}
