<footer class="footer">
	<div class="footer__container container">
		<div class="footer__inner">
			<div class="footer__logo">
				<a href="#"><img src="./assets/images/logo-black .svg" alt=""></a>
			</div>
			<div class="footer__content">
				<div class="footer__menu">
					<div class="footer__menu-item">
						<a href="#">about company</a>
						<a href="#">SERVICES</a>
						<a href="#">our PROJECTS</a>
						<a href="#">careers</a>
						<a href="#">CONTACTS</a>
					</div>
					<div class="footer__menu-item">
						<a href="#">Facebook</a>
						<a href="#">whatsapp</a>
						<div class="footer__menu-text">legal</div>
					</div>
				</div>
				<div class="footer__copyright">&copy; 2000-2016 FORMIKA All rights reserved</div>
			</div>
		</div>
	</div>
</footer>